<div class="filetree">
    <div class="file">src</div>
    <div class="children">
      <div class="file">app</div>
      <div class="children">
        <div class="file">app.component.css</div>
        <div class="children">
      <div class="file">app</div>
      <div class="children">
      <div class="file">app</div>
      <div class="children">
      <div class="file">app</div>
      <div class="children">
      <div class="file">app</div>
      <div class="children">
      <div class="file">app</div>
      <div class="children">
      <div class="file">app</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
        <div class="file">app.component.html</div>
        <div class="file">app.component.spec.ts</div>
        <div class="file">app.component.ts</div>
        <div class="file">app.module.ts</div>
      </div>
      <div class="file">assets</div>
      <div class="children">
        <div class="file">.gitkeep</div>
      </div>
      <div class="file">environments</div>
      <div class="children">
        <div class="file">environment.prod.ts</div>
        <div class="file">environment.ts</div>
      </div>
      <div class="file">favicon.ico</div>
      <div class="file">index.html</div>
      <div class="file">main.ts</div>
      <div class="file">polyfills.ts</div>
      <div class="file">styles.css</div>
      <div class="file">test.ts</div>
      <div class="file">tsconfig.app.json</div>
      <div class="file">tsconfig.spec.json</div>
    </div>
  </div>
