<nav class="demo-navigation mdl-navigation ">
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>
    <a class="mdl-navigation__link" href="">sidelinks</a>

    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class=" " role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
  </nav>
